*{
    margin: 0;
    padding: 0;

}
html,body{
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-color: #cc0019;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transition: all 0.5s linear;
}

/* .wrapper .box{
    border: 2px solid #000;
} */
.wrapper .cube{
    width: 100px;
    height: 100px;
    margin: 200px 80px;
    /* border: 4px solid #000; */
    position: relative;
    transform-style: preserve-3d;
    transform: rotatex(10deg) rotateY(-20deg)
}

.wrapper .cube .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,0.4);
    box-sizing: border-box;
    background:url('./img/c3.png') 0% 0% /cover no-repeat;
}
.cube.blue .item{
    background:url('./img/c5.png') 0% 0% /cover no-repeat;
}
/* 前右后左上下 */
.wrapper .cube .item:nth-of-type(1){
    transform: translateZ(50px)
}
/* 右 */
.wrapper .cube .item:nth-of-type(2){
    transform: rotateY(90deg) translateZ(50px)
}
/* hou */
.wrapper .cube .item:nth-of-type(3){
    transform: translateZ(-50px)
}
.wrapper .cube .item:nth-of-type(4){
    transform: rotateY(-90deg) translateZ(50px)
}
.wrapper .cube .item:nth-of-type(5){
    transform: rotateX(90deg) translateZ(50px)
}
.wrapper .cube .item:nth-of-type(6){
    transform: rotateX(-90deg) translateZ(50px)
}

#in-top{
    animation: inTop 0.4s ease-in-out forwards;
}

#out-top{
    animation: outTop 0.4s ease-in-out forwards;    
}
#in-right{
    animation: inRight 0.4s ease-in-out forwards;
}

#out-right{
    animation: outRight 0.4s ease-in-out forwards;
}
#in-bottom{
    animation:inBottom 0.4s ease-in-out forwards; 
}
#out-bottom{ 
    animation:outBottom 0.4s ease-in-out forwards;
}
/* 左 */
#in-left {
    animation:inLeft 0.4s ease-in-out forwards;
}
#out-left {
    animation:outLeft 0.4s ease-in-out forwards;
}

@keyframes inTop{
    0%{
        transform: translateZ(0) rotatex(10deg) rotateY(-20deg)
    }
    100%{
        transform: translateZ(150px) rotatex(-180deg) rotateY(20deg)
    }
}
@keyframes outTop{
    0%{
        transform: translateZ(150px) rotatex(-180deg) rotateY(20deg)
    }
    100%{
        transform: translateZ(0) rotatex(10deg) rotateY(-20deg)
    }
}
@keyframes inRight{
    0%{
        transform: translateZ(0) rotatex(10deg) rotateY(-20deg)
       
    }
    100%{
        transform: translateZ(150px) rotatex(10deg) rotateY(-180deg)
    }
}
@keyframes outright{
    0%{
        transform: translateZ(150px) rotatex(10deg) rotateY(-180deg)
    }
    100%{
        transform: translateZ(0) rotatex(10deg) rotateY(-20deg)
    }
}
@keyframes inBottom {
    0%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
    100%{
        transform: translateZ(150px) rotateX(180deg) rotateY(15deg);
    }
}
@keyframes outBottom {
    0%{
        transform: translateZ(150px) rotateX(180deg) rotateY(15deg);
    }
    100%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
}
/* 左 */
@keyframes inLeft {
    0%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
    100%{
        transform: translateZ(150px) rotateX(10deg) rotateY(180deg);
    }
}
@keyframes outLeft {
    0%{
        transform: translateZ(150px) rotateX(10deg) rotateY(180deg);
    }
    100%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
}

#red{
    background-color: #f84d61
}
#blue{
    background-color:rgb(77, 151, 231);
}